@{
    Layout = "_Layout";
  }

  @using Bakery.Models;

    <h1>Vendors</h1>

    @if (@Model.Count == 0)
    {
      <h4>No available vendors.</h4>
    } 

    @foreach (Vendor vendor in Model)
    {
      <h4>
        <p>
          <a href='/vendors/@vendor.Id'>@vendor.Name</a> - <em>@vendor.Location</em>
        </p>
      </h4>
    }

    <button class="btn btn-light">
      <a href='/vendors/new'>Add Vendor</a>
    </button>
    <button class="btn btn-light">
      <a href='/'>Home</a>
    </button>