@{
    Layout = "_Layout";
  }

  <h1>Add Vendor</h1>

    <form action="/vendors" method="post">
      <input for="vendorName" name="vendorName" type="text" placeholder="Name">
      <input for="vendorLocation" name="vendorLocation" type="text" placeholder="Location">
      <button type="submit" class="btn btn-light">Submit</button>
    </form>

    <button class="btn btn-light">
      <a href="/">Home</a>
    </button>
    <button class="btn btn-light">
      <a href="/vendors">View Vendors</a>
    </button>