@{
    Layout = "_Layout";
  } 
    @using Bakery.Models;

    <h3>Orders in @Model.Name</h3>

    <ul>
    @foreach (Order order in @Model["orders"])
    {
      <li>
        <a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Items</a>
      </li>
    }
    </ul>

    <button class="btn btn-light">
      <a href='/vendors/@Model["vendor"].Id/orders/new'>Add Order</a>
    </button>
    <button class="btn btn-light">
      <a href='/vendors'>View Vendors</a>
    </button>
    <button class="btn btn-light">
      <a href='/'>Home</a>
    </button>